<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TemplatePath" value="D:\CU\MasterProject\NestedFlowchart\Templates\"/>
		
		<!--ต้อง config loop variable name ให้เหมือนกับใน draw.io-->
		<add key="loop1" value="loop1"/>
		<add key="loop2" value="loop2"/>
		<add key="loop3" value="loop3"/>
		<add key="loop4" value="loop4"/>
		<add key="loop5" value="loop5"/>
		
	</appSettings>
</configuration>