<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TemplatePath" value="G:\My Drive\CU\MasterProject\Project\Git\NestedFlowchart\Templates\"/>
    <add key="ResultPath" value="G:\My Drive\CU\MasterProject\Project\Git\NestedFlowchart\Result\"/>
  </appSettings>
</configuration>